<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="icon" type="image/svg+xml" href="/resources/images/favicon.svg">
    <% if (process.env.NODE_ENV === 'production') { %>
        <link rel="stylesheet" href="/<%= manifest['resources/js/app.css'].file %>">
        <script type="module" src="/<%= manifest['resources/js/app.js'].file %>"></script>
    <% } else { %>
        <script type="module" src="http://localhost:5173/@vite/client"></script>
        <script type="module" src="http://localhost:5173/resources/js/app.js"></script>
        <script type="module" src="http://localhost:5173/resources/css/app.css"></script>
    <% } %>
    <title><%= process.env.APP_NAME %></title>
</head>
<body class="antialiased bg-[#181818] text-white">
<div class="max-w-md w-full mx-auto h-[100dvh] flex flex-col justify-center items-center">
    <a
        class="text-indigo-400 px-4 py-2 rounded uppercase text-sm font-medium hover:bg-indigo-100 hover:bg-opacity-10"
        href="/oauth/redirect"
    >Войти через HeadHunter</a>

<!--    @env('local')-->
<!--    <div class="rounded-md border-2 border-dashed border-red-500 p-4 mt-4 max-w-md w-full">-->
<!--        <div class="flex flex-col gap-4">-->
<!--            <span class="uppercase text-red-500 text-xs font-semibold text-center">Тестовый контур</span>-->
<!--            @php ($users = \App\Models\User::all())-->
<!--            <ul class="flex flex-col gap-2">-->
<!--                @foreach($users as $user)-->
<!--                <li>-->
<!--                    <a-->
<!--                            class="block bg-red-500 hover:bg-red-600 hover:bg-opacity-40 bg-opacity-40 py-2 px-2 rounded-md text-sm"-->
<!--                            href="{{ route('login', ['user_id' => $user->id]) }}"-->
<!--                    >[{{ $user->id }}] {{ $user->full_name }}</a>-->
<!--                </li>-->
<!--                @endforeach-->
<!--            </ul>-->
<!--        </div>-->
<!--    </div>-->
<!--    @endenv-->
</div>

<% if (process.env.NODE_ENV === 'production') { %>
<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
    (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
        m[i].l=1*new Date();
        for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
        k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
    (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

    ym(95091891, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true,
        webvisor:true
    });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/95091891" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
<% } %>
</body>
</html>
