@tailwind base;
@tailwind components;
@tailwind utilities;

.alert-message {
    position: fixed;
    top: -100%;
    left: 50%;
    transform: translateX(-50%);
    color: #333;
    z-index: 100;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    padding: 9px 12px;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
    font-size: 14px;
    transition: 0.4s top;
}

.alert-message.success i { color: green; }
.alert-message.warning i { color: orange; }
.alert-message.error i { color: red; }
.alert-message.active { top: 20px; }

